{% load static %}
<!DOCTYPE html>


<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Odunpazarı Beyaz Eşya Teknik Servisi - Çamaşır, Bulaşık, Makinesi Fırın ve Ocak ve Tv Tamircisi - ENS Teknik Servis</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/888.png' %}" rel="icon">
  <link href="{% static 'assets/img/999.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1 style="font-size:20px ;"><a href="#">Ens<span>Service</span></a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">ANA SAYFA</a></li>
          <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
          <li><a class="nav-link scrollto" href="#speakers">HİZMETLER</a></li>
          <li><a class="nav-link scrollto" href="#venue">KOMBİ SERVİSİ</a></li>
          <li><a class="nav-link scrollto" href="#hotels">Personel</a></li>
          <li><a class="nav-link scrollto" href="#supporters">markalar</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a class="buy-tickets scrollto" href="tel:+905442081774"><i class="bi bi-telephone"></i>   ..şimdi ara</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Odunpazarı<br><span>Beyaz Eşya Servisi</span> </h1>
      <p class="mb-4 pb-0">Eskişehir’in tüm ilçelerine servis desteği</p>
      <a href="#" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">Hakkımızda</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>Hakkımızda</h2>
            <p><strong>Odunpazarı beyaz eşya servisi</strong> için tecrübemizden faydalanın. Tüm arızalar için yerinde arıza tespit hizmetimiz bulunmaktadır. Sizden alınan talepler doğrultusunda, adresinize teknik servis arkadaşlarımız gönderilmektedir. Oluşmuş olan arıza adresinizde tamir edilecek durumda ise servis arkadaşlarımız yerinde müdahale ile onarım/tamir işlemini gerçekleştirmektedir. Büyük arızalar için adresinizden aldıktan sonra servisimizde arıza tespit işlemi gerçekleştiriyor, size tamir süresi ve fiyatı hakkında bilgi veriyoruz. Onayınızı aldıktan sonra tamir işlemini tamamlayıp adresinize getiriyoruz. Unutmayın,  <strong>Odunpazarı beyaz eşya tamircisi</strong> profesyonellik isteyen bir iştir, şimdi ekibimizden detaylı bilgi alın, kombi tamiri için bizi arayın.</p>
<p><b>Odunpazarı beyaz eşya servisi </b>için daha fazla zaman kaybetmeyin, 20 yıllık tecrübemizden faydalanın. Hemen bizimle iletişime geçin, servis talebinde bulunun.</p>
          </div>
          <div class="col-lg-3">
            <h3>NEREDE</h3>
            <p>Downtown , Camlik, Eskişehir</p>
          </div>
          <div class="col-lg-3">
            <h3>NE ZAMAN</h3>
            <p><p style="font-weight: bold; color:red; font-size: xx-large; ">7/24</p> Arıza Çağrı Ofisi</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Speakers Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Hizmetler</h2>
          <p>İşte hizmetlerimizden bazıları</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'assets/img/speakers/1.jpg' %}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a>Odunpazarı Buzdolabı Servisi</a></h3> 
                <p>hakkında detaylı bilgi alabilir ve servis kaydı oluşturmak için bizlere ulaşabilirsiniz.</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/speakers/4.jpg' %}" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Tv Servisi & Tamircisi</a></h3>
                <p>arıyorsanız Eskişehir de size en yakın televizyon tamircisi ekimizi yönlendirebilmemiz için şimdi bizi arayabilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'assets/img/speakers/6.jpg' %}" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Bulaşık Makinesi Servisi</a></h3>
                <p>hakkında detaylı bilgi alabilir ve servis kaydı oluşturmak için bizlere ulaşabilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{% static 'assets/img/speakers/2.jpg' %}" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Çamaşır Makinesi Servisi</a></h3>
                <p>hakkında detaylı bilgi alabilir ve servis kaydı oluşturmak için bizlere ulaşabilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/speakers/5.jpg' %}" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Beyaz Eşya Servisi</a></h3>
                <p>veya tamircisi arıyorsanız ve garanti süreniz bitmiş ise Eskişehir de en yakın beyaz eşya servisi‘ni arayabilir firmamızdan özel yardım alabilirsiniz</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'assets/img/speakers/3.jpg' %}" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Fırın & Ocak Servisi</a></h3>
                <p>arıyorsanız ve garanti süreniz bitmiş ise Eskişehir de en yakın fırın & ocak servisini arayabilir firmamızdan özel yardım alabilirsiniz</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Speakers Section -->


    <!-- ======= Venue Section ======= -->
    <section id="venue">

      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Kombi Servisi ve Bakımları Neden Önemli?</h2>
          <p>Arızadan kaynaklanacak olası kazaların ya da patlamaların önüne geçmek ve kombinin yüksek performansta çalışması için yılda en az bir defa kombi bakımı yapılmalı ve kombi servisi çağrılarak gerekli kontroller yapılmalıdır. Bakımı yapılan kombi yakıt tasarrufu yapar böylelikle az maliyetle verimli ısınırsınız. Ayrıca kombinizin arıza verdiği konularda Eskişehir kombi arıza servisimize arıza kaydı oluşturarak en kısa sürede servis hizmeti alabilirsiniz.</p>
        </div>

        <div class="row g-0">


          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Tepebaşı Kombi Servisi ve Yedek Parça Değişimi</h3>
              </div>
            </div>
          </div>


          <div class="col-lg-6 venue-info2">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3 style="font-weight: bold;">Eskişehir Kombi Servisi ve Yedek Parça Değişimi</h3>
              </div>
            </div>
          </div>

        </div>

      </div>


        </div>
      </div>

    </section><!-- End Venue Section -->

    <!-- ======= Hotels Section ======= -->
    <section id="hotels" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Personel</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'assets/img/hotels/1.jpg' %}" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="#">Enes Kaynarca</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>CEO/Founder</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'assets/img/hotels/2.jpg' %}" alt="Hotel 2" class="img-fluid">
              </div>
              <h3><a href="#">Ayse Ozgur</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill-half-full"></i>
              </div>
              <p>Manager</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'assets/img/hotels/3.jpg' %}" alt="Hotel 3" class="img-fluid">
              </div>
              <h3><a href="#">Emre Can</a></h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p>Pro teknisian</p>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Hotels Section -->


    <!-- ======= Supporters Section ======= -->
    <section id="supporters" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Özel servis hizmeti verilen markalar</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/arcelik.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/beko2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/bosh.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/sam.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/lg.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/si.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/al.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'assets/img/supporters/9.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Sponsors Section -->

    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">some question? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    some answer
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">question <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    some answer
               </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">  Sor??<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Jevab
                  </p>
                </div>
              </li>


            </ul>

          </div>
        </div>

      </div>

    </section><!-- End  F.A.Q Section -->

    <!-- ======= Subscribe Section ======= -->
    <section id="subscribe">
      <div class="container" data-aos="zoom-in">
        <div class="section-header">
          <h2>Bölge : Eskişehir / TÜRKİYE</h2>
          <p>e-posta adresinizi girin, personelimiz en kısa sürede sizinle iletişime geçecektir.</p>
        </div>

        <form action="{% url 'sub' %}" method="post" id="sub-form">
          {% csrf_token %}
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 d-flex">
              <input type="email" id="email" class="form-control" name="email" placeholder="Enter your Email">
              <button type="submit" class="ms-2">Tamam</button>
            </div>
          </div>
        </form>

      </div>
    </section><!-- End Subscribe Section -->

    <!-- ======= Buy Ticket Section ======= -->
    <section id="buy-tickets" class="section-with-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Kısaca Biz !
          </h2>
          <p>
            </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Profesyonel kadro</h5>
                <h6 class="card-price text-center">
                  <i class="bi bi-clock-history"></i>
                  </h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>
                    Kendi alanında deneyimli,</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>değişen teknolojik gelişmeleri yakından takip eden</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>kendini sürekli geliştiren bir ekip.</li>
                </ul>
                <hr>
                <div class="text-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Hızlı Servis Hizmeti
                </h5>
                <h6 class="card-price text-center"><i class="bi bi-speedometer"></i></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Sektörde lider konumda olan firmamız </li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>7/24 çağrı merkezi ile sizlere </li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>hızlı servis desteği sunmaktadır.

                  </li>
                </ul>
                <hr>
                <div class="text-center">
                </div>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                  1 Yıl Garanti
                  </h5>
                <h6 class="card-price text-center"><i class="bi bi-award-fill"></i></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Firmamız tarafından değiştirilen</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>orjinal yedek parçların 1 yıl</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>süreyle garantisi devam etmektedir.</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="premium-access"><details></details></button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal Order Form -->
      <div id="buy-ticket-modal" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">1 Yıl Servis Taahhüdü</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Tüm servis hizmetlerimiz ve yedek parçalarımız 1 yıl firmamız garantisi altında olup, hizmet sonrası memnuniyeti ciddiye almaktayız. Tüm eşyalarınızı yerinde vakit kaybetmeden çözüme kavuşturmak ilk hedefimiz. </p>
              <a class="buy-tickets scrollto" href="tel: 0222-322-52-00"><i class="bi bi-telephone"></i>   Servis Çağır</a>


            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </section><!-- End Buy Ticket Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Bize Ulaşın</h2>
          <p>Arızalı beyaz eşyalarınız için hemen çağrı merkezini arayın</p>
        </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196274.38252020942!2d30.385200353763324!3d39.76688540180379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cc1602e796c3d7%3A0x7b967b5431892c23!2s%C3%96zbek%20Mobilya!5e0!3m2!1sen!2s!4v1656599586049!5m2!1sen!2s"width="100%" height="350" style="border: 10px;padding: 25px;" allowfullscreen="" loading="lazy"></iframe>></iframe> 


        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>A108  Street, Eskişehir 535022, TURKEY</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+905442081774">+90 544 208 17 74</a></p>
              <p><a href="tel:0222233225200">0222 322 52 00</a></p>

            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@ensteknikservis.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="{% url 'contact' %}" id="contact-form" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
    

          <div class="col-lg-3 col-md-6 footer-info">
            <p>Firmamız Tepebaşı beyaz eşya servisi, bakım ve onarımı konusunda 20 yılı aşkın süredir hizmet vermektedir. Eskişehir’in tüm ilçelerine teknik servis bakımı ve onarım hizmeti vermektedir…
              <br>

              <strong>Arıza Onarım Hizmetleri</strong>
              <br>
              
              Saygılar.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h1 style="color:white ;"><font style="color:red ;">ENS</font>Service</h1>
            <br>
            <br>
            <h1 style="color:white ;"><font style="color:red ;">Eskişehir</font>7/24 Ariza kayit</h1>


          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#speakers">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              Eskişehir, ZipCode:***<br>
              TURKEY <br>
              <strong>Phone:</strong> +90 544 208 17 74<br>0222 322 52 00<br>
              <strong>Email:</strong> info@ensteknikservis.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Özel Beyaz Eşya & Kombi Servisi</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://ashkansarshari.herokuapp.com/">Ashkan Sarshari</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    const form = document.getElementById('contact-form');
  form.addEventListener("submit",submitHandler);
  function submitHandler(e) {
      var serializedData = $(this).serialize();
      e.preventDefault();
      $.ajax({
          type: 'POST' , 
          url : '{% url "contact" %}',
          data: serializedData  ,
          dataType: 'json',
          success: function (data) {
              if (data.msg === 'Success') {
                  alert('mesajiniz bizdedir');
                  $("#contact-form").trigger('reset');
        }
      }
   })
  }
  
  </script>
    <script>
      const form2 = document.getElementById('sub-form');
    form2.addEventListener("submit",submitHandler);
    function submitHandler(e) {
        var serializedData = $(this).serialize();
        e.preventDefault();
        $.ajax({
            type: 'POST' , 
            url : '{% url "sub" %}',
            data: serializedData  ,
            dataType: 'json',
            success: function (data) {
                if (data.ok === 'ok') {
                    alert('e-posta bizdedir');
                    $("#sub-form").trigger('reset');
          }
        }
     })
    }
    
    </script>
  


</body>

</html>